.container-fluid{
	padding: 0px;
}


nav{
	background : rgb(202, 33, 30); 
	height: 50px;
	padding-right: 150px;
	padding-left: 100px;
	overflow: hidden;	
}
nav ul{
	list-style-type: none;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}

.allign-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

nav li{
	display: inline;
	margin-left:80px;
	font-size: 20px;
	color: black;
	color: white;

}

nav h2{
	float: left;
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.top-img{
	background: url(../imagenes/top-img.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;

	width: 100%;
	height: 500px;

}


#aboutMe h1{
	margin: 0 auto;
	text-align: center;
	font-family: 'Arvo', serif;
	text-decoration: underline;
	text-decoration-color: red;

}


#skills h1{
	margin: 0 auto;
	text-align: center;
	font-family: 'Arvo', serif;
	color:white;
	background: #ca283d;

}

#aboutMe .row{
	justify-content: center;
	margin : 0px;
}
#skills .row{
	justify-content: center;
	margin : 0px;
	background:  #f2f2f2;
	padding-top: 20px;
}

.center-content{
	justify-content: center;
	text-align: center;

}

.skills-img{
	max-height:200px;
	width: auto;
	height: auto;
	margin-bottom: 50px;
}


.exp{
	display: inline-block;
	border-radius: 50px;
	background:  #ffe6e6;
	width: 300px;
	height: 200px;
	transform: translateY(20%);

}

.exp p {
	padding: 25px;
}

.timeline .row{
	justify-content: center;
	padding-bottom: : 5000px;
	margin: 0;
}

footer{
	height: 20px;
	background: red;	
}

.contact-img{
	height: 75px;
}

#contact-me .row{
	padding: 0px 0px;  
	margin: 0px;
}

.end{
	background: #cb2028;
	padding-bottom: 25px;
}

#contact-me h1{
	text-align: center;
	color: white;
}

@media screen and (max-width: 699px)
{
	#nav-list{
		display: none;
	}

	nav{
		padding-right: 0px;
		padding-left: 20px;
	}

	nav h2{
	float: left;
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-45%);
}
}